<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
          logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" maxReceivedMessageSize="1000000"
                 messageEncoding="Mtom">
          <readerQuotas maxArrayLength="1000000"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basHttp" maxReceivedMessageSize="1000000"
                 messageEncoding="Text">
          <readerQuotas maxArrayLength="1000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!--New http binding service (for new ASP.NET Core app)-->
      <service name="TrekTreeService.TrekTreeService"  behaviorConfiguration="mexBehaviour">
        <endpoint address="TrekTreeService"
                  bindingConfiguration="basHttp"
                  binding="basicHttpBinding"
                  contract="TrekTreeService.ITrekTreeService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/"/>
          </baseAddresses>
        </host>
      </service>
      <!--old ws binding servie (for ASP.NET MVC 5 APP)-->
      <!--<service name="TrekTreeService.TrekTreeService"  behaviorConfiguration="mexBehaviour">
        <endpoint address="TrekTreeService"
                  bindingConfiguration="wsHttp"
                  binding="wsHttpBinding"
                  contract="TrekTreeService.ITrekTreeService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/"/>
          </baseAddresses>
        </host>
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"></serviceDebug>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="port" value="20301"/>
    <add key="LocalPath" value="user/"/>
  </appSettings>
</configuration>