<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrekTreeService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TrekTreeService.TrekTreeService">
                <endpoint address="" binding="basicHttpBinding" contract="TrekTreeService.ITrekTreeService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TrekTreeService/TrekTreeService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <TrekTreeService.Properties.Settings>
            <setting name="LocalPath" serializeAs="String">
                <value>c:/1231/</value>
            </setting>
        </TrekTreeService.Properties.Settings>
    </applicationSettings>
</configuration>
